<div class="mt-5">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <h3>Change Password</h3>
                    <hr>
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" [noValidate]="false">

                        <div class="row">

                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$" class="form-control" ngModel name="password" #pwdRef="ngModel" required>
                                    <div *ngIf="pwdRef.invalid && (pwdRef.dirty || pwdRef.touched)">

                                        <div *ngIf="pwdRef.errors?.['required']" class="alert alert-danger">Password is required.</div>
                                        <div *ngIf="pwdRef.errors?.['pattern']" class="alert alert-danger">Password must contain min 8 and max 16
                                            alphanumeric ,only @#!%^&* allowed .</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>