<div class="login_page">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <h1>User Login</h1><hr>
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" [noValidate]="false">
                        
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" ngModel name="emailId" #emailRef="ngModel" required>
                                    <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">

                                        <div *ngIf="emailRef.errors?.['required']" class="alert alert-danger">Email is required.</div>
                             
                                        <div *ngIf="emailRef.errors?.['email']" class="alert alert-danger">Please enter valid email, eg:
                                            name@gmail.com.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" pattern="[a-zA-Z0-9$%&!@]{6,}" class="form-control" ngModel name="password"  #pwdRef="ngModel" required >
                                    <div *ngIf="pwdRef.invalid && (pwdRef.dirty || pwdRef.touched)">

                                        <div *ngIf="pwdRef.errors?.['required']" class="alert alert-danger">Password is required.</div>
                                        <div *ngIf="pwdRef.errors?.['pattern']" class="alert alert-danger">Password must contain min 8 and max 16
                                            alphanumeric ,only @#!%^&* allowed .</div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                       
                        <button type="submit" class="btn btn-outline-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>